/* Main Header */
.main-header {
  position: fixed;
  top: 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo Section */
.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.site-name {
  font-size: 24px;
  font-weight: bold;
  font-family: "popins", sans-serif;
}

/* Search Section */
.search-section {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 50px;
  font-size: 16px;
  border: 2px solid #070707;
  border-radius: 4px;
  margin-right: 10px;
}

.search-button {
  padding: 8px;
  background-color: #3079cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #205a8f;
}

/* Navigation Section */
.nav-section {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "popins", sans-serif;
  font-size: 16px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding: 8px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #3079cc;
  color: #fff;
}
/* Profile Section Styling */
.profile-container {
  position: relative;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.username {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  white-space: nowrap;
}

/* Dropdown Menu Styling */
.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-item {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

/* Cart and Wishlist */
.cart,
.wishlist {
  position: relative;
}

.cart img,
.wishlist img {
  width: 24px;
  height: 24px;
}

.cart-count,
.wishlist-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
