.register-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding-top: 120px;
}

.register-box {
  background-color: #00000079;
  padding: 70px;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.register-box h2 {
  margin-bottom: 20px;
}

.register-box form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.register-button {
  background-color: #a51717;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.register-button:hover {
  background-color: #2d7cd6;
}

.link {
  display: block;
  margin-top: 10px;
  color: #0ce153;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
