body {
  font-family: Arial, sans-serif;
  background-image: url("background.jpg"); /* Replace with your image */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

.register-container {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.register-container h2 {
  color: #fff;
  margin-bottom: 20px;
}

.register-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.register-container .register-button {
  background-color: #a51717;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.register-container .register-button:hover {
  background-color: #2d7cd6;
}

.register-container .link {
  display: block;
  margin-top: 10px;
  color: #0ce153;
  text-decoration: none;
}

.register-container .link:hover {
  text-decoration: underline;
}
