* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0; /* Remove the padding on the body */
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  padding: 30px; /* Adjust padding for a more compact form */
  background-color: rgba(0, 0, 0, 0.7); /* Darker transparent background */
  border-radius: 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.register-container h2 {
  color: #fff;
  margin-bottom: 20px;
}

.register-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.register-container .register-button {
  background-color: #a51717;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.register-container .register-button:hover {
  background-color: #2d7cd6;
}

.register-container .link {
  display: block;
  margin-top: 10px;
  color: #0ce153;
  text-decoration: none;
}

.register-container .link:hover {
  text-decoration: underline;
}
