/* SlideShow.css */
.slideshow-container {
  position: relative;
  width: 100%;
  height: 550px; /* Adjust the height as needed */
  overflow: hidden; /* Prevents images from spilling out */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  display: block;
  padding: 10px;
}

.overlay {
  position: fixed;
  bottom: 300px;
  left: 200px;

  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;

  text-align: center;
}

.overlay h2 {
  font-size: 2rem;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.overlay p {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: center;
}

.overlay button {
  background-color: #ff4d4d;
  color: white;
  font-size: 1.2rem;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.overlay button a {
  color: white;
  text-decoration: none;
}

.overlay button:hover {
  background-color: #d84b55; /* Darker color on hover */
}

.nav-button {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
